.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../public/img/jake-hills-TfJKSjoESc4-unsplash.jpg');
  background-size: cover; /* Make the image cover the entire background */
  font-family: Arial, sans-serif; /* Change the font */
  color: white; /* Set the text color to white */
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.form {
  border: 1px solid rgba(215, 215, 215, 0.9);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.form2 {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  color: white;
}

.input {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  width: 210px;
  height: 30px;
}

.button {
  margin-top: 10px;
  background-color: rgba(215, 215, 215, 0.3);
  width: 210px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(215, 215, 215, 0.9);
}

.button:hover {
  background-color: rgba(215, 215, 215, 0.8);
}
.loginerror {
  color: red;
  margin-top: 15px;
}
