.library-item img {
  width: 300px;
}
.library-item p {
  width: 300px;
}

.container-library {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-block-box img {
  min-width: 50vw;
  max-height: 50vh;
  margin: 5px;
  box-shadow: 5px 5px 20px rgb(67, 67, 67);
  border-radius: 10px;
  object-fit: cover;
}
.container__library {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80vw;
}
.library-item {
  margin: 20px;
}

.library-item img {
  width: 15vw;
  height: 20vh;

  border-radius: 20px;
  margin: 5px;
  box-shadow: 5px 5px 20px rgb(67, 67, 67);
  object-fit: cover;
}
.library-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #313c8d;
  font-size: 20px;
  padding: 5px;
  width: 20vw;
  margin-left: 20px;
}
.library-item-text {
  padding: 5px;
}
.book-page {
  display: flex;
  flex-direction: column;
}
.book-content {
  display: flex;
}
.book-btn {
  align-items: center;
  margin: 20px;
}
.book-img-page {
  margin: 20px 10px 20px 20px;
}
.book-img-page img {
  width: 25vw;
  height: 60vh;
  border-radius: 8px;

  box-shadow: 5px 5px 20px rgb(67, 67, 67);
  object-fit: cover;
}
.book-text-page {
  display: flex;
  flex-direction: column;
  margin: 20px 10px 20px 10px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #313c8d;
  font-size: 20px;
  padding: 5px;
  max-width: 40vw;
  margin-left: 20px;
}
.book-text-page h2 {
  font-size: 26px;
  margin: 20px 0 20px 0;
}
.themes-item {
  display: flex;
  justify-content: space-evenly;
  color: #313c8d;
  font-size: 20px;
  padding: 5px;
  width: 20vw;
  margin-top: 20px;
}
