
img{
  width: 60%;
  height: 60%;
}
button,input{
  background-color: burlywood;
  border-radius: 10px;
  width: 200px;
}
form{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}