.container__gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-block-box {
  position: relative;
  height: 50vh;
  margin: 20px auto 30px;
}

.header-block-box img {
  min-width: 50vw;
  max-height: 50vh;
  margin: 5px;
  box-shadow: 5px 5px 20px rgb(67, 67, 67);
  border-radius: 10px;
  object-fit: cover;
}
.gallery-text {
  position: absolute;
  color: rgb(213, 213, 217);
  bottom: 45px;
  left: 55px;
  font-size: 22px;
  width: 30vw;
}
.gallery-text h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 10px;
}

.container__photoalbum {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90vw;
}
.photoalbum-item {
  display: flex;
  max-width: 40vw;
  max-height: 40vh;
  margin: 20px;
  border-radius: 20px;
}
.photoalbum-item img {
  min-width: 20vw;
  max-width: 20vw;
  min-height: 30vh;
  max-height: 30vh;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 5px 5px 20px rgb(67, 67, 67);
  object-fit: cover;
}
.photoalbum-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  color: #313c8d;
  font-size: 20px;
  padding: 5px;
  margin-left: 20px;
  width: 300px;
  word-break: break-all;
}
.photoalbum-item button {
  margin: 0 auto;
}
.photoalbum-item button a:visited {
  text-decoration: none;
  color: white;
}
.photoalbum-item-text {
  padding: 5px;
}
.photoalbum-item-text h2 {
  font-size: 26px;
}
.photoalbum-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.photoalbum-page-content {
  position: relative;
  height: 50vh;
  margin: 20px auto 30px;
}

.photoalbum-page-text {
  position: absolute;
  color: rgb(213, 213, 217);
  bottom: 45px;
  left: 55px;
  font-size: 26px;
  width: 20vw;
}
.photoalbum-page-text h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 10px;
}
.photoalbum-page-photo {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px auto 20px;
}
.photoalbum-page img {
  min-width: 50vw;
  max-height: 50vh;
  margin: 5px;
  box-shadow: 5px 5px 20px rgb(67, 67, 67);
  border-radius: 10px;
  object-fit: cover;
}
.photo-item {
  margin: 10px;
  min-width: 20vw;
  max-width: 20vw;
  min-height: 30vh;
  max-height: 30vh;
}
.photo-item img {
  min-width: 20vw;
  max-width: 20vw;
  min-height: 30vh;
  max-height: 30vh;
  object-fit: cover;
  border-radius: 5px;
}
.input-uploader {
  border: none;
  height: 33px;
  width: 280px;
  color: rgba(19%, 24%, 55%, 1);
}