.interviewpage_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interviewpage_p {
  max-width: 40%;
  margin-bottom: 2%;
  margin-top: 2%;
  color: #313C8D;
  display: block;
  /* margin-bottom: 2%; */
  /* margin-right: 15%; */
font-family: Nunito Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.interview-add_cont {
  margin-top: 15px;
  margin-bottom: 55px;
}

.form__add-interview{
  display: flex;
  flex-direction: column;
  margin-left: 10%;

}
.interview_add_input_title{
margin-top: 10px;
margin-bottom: 10px;
width: 350%;
}

.form__add-interview {
  /* margin-right: 70%; */
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interview-add_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
 width: 50%;
 margin-left: -5%;
}

.interview_add_input_title {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 15px; 
  margin: 10px 0; 
}

.interview_add_butt {
  margin-top: 5%;
  font-family: Nunito Sans;
  border-radius: 21px;
border: 1px solid #313C8D;
background: #313C8D;
width: 50%;
height: 50px;
color: aliceblue;
}

.interview-add_head {
  color: #313C8D;
  display: block;
  /* margin-bottom: 2%; */
  margin-left: 10%;
font-family: Nunito Sans;
font-size: 24px;
/* font-weight:600; */
}

.interview-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.interview-card{
margin: 5%;
}

.interview_card_img {
  object-fit:cover;
  height: 25%;
  height: 300px;
  width: 500px;
  border-radius: 8%;
  box-shadow:  15px 15px 10px lightslategray;

}

.interview_card_head {
  color: #313C8D;
  font-family: Nunito Sans;
  font-size: 22px;
}

.interview_card_link {
  text-decoration:none; 

}

.interview_item_container {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.interview_upd_bttn {
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 5%;
  font-family: Nunito Sans;
  border-radius: 21px;
border: 1px solid #313C8D;
background: #313C8D;
width: 15%;
height: 50px;
color: aliceblue;
}

.interview_item_card {
  display: flex;
  flex-direction: column;
}

.interview_item_card_head {
  color: #313C8D;
  font-family: Nunito Sans;
  font-size: 38px;
  /* max-height: 200px; */
  max-width: 30%;
  margin-left: 5%;
}

.interview_img {
  border-radius: 7%;
}

.interview_item_card_edit {
  display: flex;
}

.interview_item_card_editcont {
  display: flex;
  flex-direction: column;
  min-height: 900px;
}

.interview_item_blocks {
  display: flex;
  flex-direction: row-reverse;
}

.interview_item_card_list {
  /* border: 2px solid red; */
  padding-left: 2%;
  padding-right: 3%;
  margin-left: -2%;
  width: 70%;
  background-color: #ECEDF1;
}

.interview_item_card_list_head {
  color: #313C8D;
  font-family: Nunito Sans;
  font-size: 22px;
  margin-left: 20px;
  border-bottom:2px solid #C9C9CC ;
}

.interview_item_card_list_item_link {
  text-decoration:none; 
  color: #464E83;
  font-family: Nunito Sans;
  font-size: 18px;
  width: 50%;
}

.interview_item_card_list_item {
  margin-top: 10px;

}

.interview_item_body {
  margin-left: 3%;
}

.interview_item_card_content {
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 15%;
  color: #464E83;
  font-family: Nunito Sans;
  font-size: 18px;
}

.interview_item_card_head_container {

}

.interview_item_card_headcontent {
  display: flex;
  flex-direction: column;
}